.navbar-wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    margin: 0 auto;
}

.navbar-list {
    list-style: none;
    margin: 0;
}

.navbar-item, .navbar-link, .navbar-cta {
    color: #EDF0F1;
    text-decoration: none;
}

.navbar-item {
    display: inline-block;
    padding: 0 20px;
}

.navbar-link {
    transition: all .3s ease 0s;
}

.navbar-link:hover {
    color: #8337AF;
    text-decoration: none;
}

.navbar-cta {
    padding: 11px 25px;
    background-color: rgba(131, 55, 175, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

.navbar-cta:hover {
    background-color: rgba(131, 55, 175, .8);
    text-decoration: none;
    color: #EDF0F1; 
}

.logo {
    max-width: 100px;
    cursor: pointer;
}
