@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: calc(1vh*100);

    display: flex;
    justify-content: center;
    align-items: center;
}

.section > div {
    margin: 3rem;
    line-height: 2rem;
}

.section p {
    margin-bottom: 1rem;
}

a {
    color: #C3B1E1;
    text-decoration: none;
}